__pycache__/
!.env.example
.DS_Store
.env
.env.*
.python-version
.venv/
*.key
*.log
*.p12
*.pem
*.pfx
*.py[cod]
*.swo
*.swp
*~
build/
dist/
id_rsa
id_rsa.pub
node_modules/
npm-debug.log*
Thumbs.db
venv/
